@page "/"
@page "/{name}"

@inject ISessionStorageService sessionStorage
@inject IJSRuntime JS
@inject ILogger<Index> logger

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. @(nameinsession)님
<p>
	<button @onclick="ShowAlert">알림창 띄우기</button>
</p>


@code {
	[Parameter]
	public string name { get; set; } = string.Empty;

	protected string nameinsession = string.Empty;
	private IJSObjectReference module;

	protected override async Task OnInitializedAsync()
	{
		logger.LogInformation("OnInitializedAsync - start");
		await sessionStorage.SetItemAsStringAsync("name", name);
		nameinsession = await sessionStorage.GetItemAsStringAsync("name");
		try
		{
			throw new Exception(nameof(Home));
		}
		catch (Exception ex)
		{

			logger.LogWarning("OnInitializedAsync - warring");
		}
		await base.OnInitializedAsync();
		
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender)
		{
			module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/alert.js");
		}
	}
	private async Task ShowAlert()
	{
		// await JS.InvokeVoidAsync("showAlert", "Hello, world!");
		await module.InvokeVoidAsync("showAlert", "HEllow");
	}
}