
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
@* <!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to ASP.NET Core MVC!</h1>
    <p>비주얼아카데미 홈페이지에 오신 걸 환영합니다.</p>
</body>
</html> *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></p>
</div>
