@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul class="list-group">
        <li class="list-group-item"><a asp-controller="Home" asp-action="Unary">Unary</a></li>
        <li class="list-group-item"><a asp-controller="Home" asp-action="ServerStreaming">ServerStreaming</a></li>
        <li class="list-group-item"><a asp-controller="Home" asp-action="ClientStreaming">ClientStreaming</a></li>
        <li class="list-group-item"><a asp-controller="Home" asp-action="BiDirectionalStreaming">BiDirectionalStreaming</a></li>
    </ul>
</div>
